{% extends "template.html" %}

{% block conteudo %}
<div class="container">
    <div class="container-fluid">
        <h1>Setores</h1>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-3 d-flex justify-content-end">
                <button type="button" class="btn btn-dark" id="addBtnSetor">Cadastrar Setor/OM</button>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <table width="100%" id="tabela_setor" class="table table-striped tabela">
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal01" tabindex="-1" aria-labelledby="modal01" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Setor/OM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="form-control" id="id" name="id">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="setor" class="form-label">Setor/OM:</label>
                            <input type="text" class="form-control" id="setor" name="setor">
                            <span style="font-size: 12px;">30 caracteres restantes</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-dark" id="saveBtn">Salvar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
{% block javascript %}
<script>

const getColumnDefs = () => [
    { targets: '_all', className: 'text-center' },
];

const getTableColumns = () => [
    { data: 'setor', title: 'Setor' },
    { data: null, title: 'Ações', defaultContent: '' },
];

carregarDadosDatatable(`{{ url_for('listaDeSetores') }}`).then((dados) => {
    carregarDatatable('#tabela_setor', dados);
});
</script>
{% endblock %}