<!-- Modal -->
<div class="modal fade" id="modal-criar-ocorrencia" tabindex="-1" aria-labelledby="modal01" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Ocorrência</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="ocorrencia" class="form-label">Ocorrência:</label>
                            <input type="text" class="form-control" id="ocorrencia" name="ocorrencia" value="">
                            <span style="font-size: 12px;">100 caracteres restantes</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-dark" id="criar-ocorrencia">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Ocorrência-->
<div class="modal fade" id="modal-editar-ocorrencia" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Ocorrência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form-editar">
            <input type="hidden" id="editar-id-ocorrencia">
            <div class="mb-3">
              <label for="editar-ocorrencia" class="form-label">Setor</label>
              <input type="text" class="form-control" id="editar-ocorrencia" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" id="salvar-edicao-ocorrencia">Salvar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Excluir Ocorrência -->
<div class="modal fade" id="modal-excluir-ocorrencia" tabindex="-1" aria-labelledby="modalExcluirLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Ocorrência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir a ocorrência <strong id="nome-ocorrencia-excluir"></strong>?</p>
          <input type="hidden" id="excluir-id-ocorrencia">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="confirmar-exclusao-ocorrencia">Excluir</button>
        </div>
      </div>
    </div>
</div>