.nav-link,
.navbar-brand {
    transition: color 0.3s ease;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #3cfa02;
}

.dropdown-menu {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown-menu.show {
    transform: translateY(0);
    opacity: 1;
}

.dropdown-item.selected {
    background-color: #343a40;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.btn{
    align-self: right !important;
}

.tabela td {
    border: 1px solid #000000;
    /* background-color: #fff; */
    padding: 8px;
    text-align: center;
}

.tabela thead th {
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    color: white;
}

.tabela tbody tr:hover td {
    background: lightgrey;
    color: black;
}

.dataTables_paginate .paginate_button {
    margin: 10px 0px;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.dataTables_length select {
    height: 40px;
    width: 85px;

}

.dataTables_filter {
    float: right;
    margin-bottom: 20px;
    height: 40px;
}

.nav>li>a:not(.active):focus,
.nav>li>a:not(.active):hover {
    text-decoration: underline;
    background-color: lightgray !important;
}

.form-control {
    height: 40px
}

.form-select {
    height: 40px
}

#atividade {
    height: auto; 
    min-height: 50px;
}

#observacao,
#observacaoV,
#observacao_local,
#observacao_ocorrencia {
    height: auto; 
    min-height: 75px;
}